body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(a.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  width: 420px;
  padding: 70px 150px;
}
h3 {
  margin-top: 10px;
  font-size: 36px;
  text-align: center;
}
.btn1,
.btn2,
.btn3 {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  border: 2px;
  border-color: black;
  outline: none;
  box-shadow: 0 0 10px rgba(0 0 0 0.2);
  cursor: pointer;
  font-size: 18px;
  color: rgb(31, 30, 30);
  font-weight: 700;
  margin-bottom: 10px;
}
.btn1:hover,
.btn2:hover,
.btn3:hover {
  background-color: black;
  color: white;
}
